<div class="header">
    <h3>Editar Ad Valorem - Factura {{data.serie}}-{{data.numero}}</h3>
    <button mat-icon-button (click)="guardar()"><mat-icon>close</mat-icon></button>
</div>

<div class="content">
    <table class="simple-table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cant.</th>
                <th>FOB Unit.</th>
                <th>Gastos Log. (Fijo)</th>
                
                <th class="col-edit">AD VALOREM (Manual)</th>
                
                <th>IGV (16%)</th>
                <th>IPM (2%)</th>
                <th>Percep.</th>
                <th>UNIT. LANDED</th>
                <th>TOTAL LANDED</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of itemsEditables">
                <td>{{ item.nombreProducto }}</td>
                <td class="text-center">{{ item.cantidad }}</td>
                <td class="text-right">{{ item.precioUnitarioFob | number:'1.2-2' }}</td>
                <td class="text-right text-gray">{{ item.logisticaUnit | number:'1.2-2' }}</td>

                <td class="cell-edit">
                    <input type="number" 
                           [(ngModel)]="item.adValoremUnit" 
                           (ngModelChange)="actualizarFila(item)" 
                           min="0">
                </td>

                <td class="text-right">{{ item.igvUnit | number:'1.2-2' }}</td>
                <td class="text-right">{{ item.ipmUnit | number:'1.2-2' }}</td>
                <td class="text-right">{{ item.percepUnit | number:'1.2-2' }}</td>
                
                <td class="text-right font-bold">{{ item.landedUnit | number:'1.2-2' }}</td>
                <td class="text-right font-bold text-green">{{ item.landedTotal | number:'1.2-2' }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="footer">
    <button mat-flat-button color="primary" (click)="guardar()">
        <mat-icon>save</mat-icon> Guardar Cambios
    </button>
</div>